.backgroundApp{
    background-color: #17181F;
    color: #797A81;
    min-height: 100vh;
}

.appContent{
    margin: auto;
    max-width: 980px;
    padding: 10px;
}

.appTitle{
    margin: 0;
    padding: 0;
    color: #FFF;
    text-align: center;
    border-bottom: 2px solid #FFF;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }